.cardComponent {
    /* width: 33rem; */
    background-color: beige;
    border-radius: 33px;
    /* height: 400px; */
    /* height: 20%; */
    /* min-height: 300px; */
    min-height:113vh;

}
.cardComponent span{
    margin-top: 30px;
    font-size: 50px;
}
.cardComponent .card-body{
    margin-top: 30px;

}
.cardComponent .card-title{
    font-size: 20px;
}

.cardComponent .card-text{
    margin-top: 40px;
    text-wrap: pretty;
    text-align: center;
    font-size: medium;
}

.perro  div:first-child:hover{
    /* width: 35rem; */
    background-color: #e664654f;
    border-radius: 33px;
}

/* #principal div:first-child:hover {
    background-color: #e664654f;
    border-radius: 10%;
} */