.cardComponent {
    /* width: 33rem; */
    background-color: beige;
<<<<<<< Updated upstream
    border-radius: 2%;
=======
    border-radius: 30px;
>>>>>>> Stashed changes
    /* height: 400px; */
    /* height: 20%; */

}


.cardComponent img{
<<<<<<< Updated upstream
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
=======
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
>>>>>>> Stashed changes
    height: 20%;
    max-height: 450px;
}
.cardComponent .card-body{
    margin-top: 30px;

    min-height: 350px;

}
.cardComponent .card-title{
    font-size: 20px;
}

.cardComponent .card-text{
    margin-top: 40px;
    text-wrap: pretty;
    text-align: center;
    font-size: medium;
}

<<<<<<< Updated upstream
=======
.imgCircle{
    width: 20vw; /* note i used vw not px for better responsive */
    height: 20vw;
}

.imgCircle img{
    object-fit: cover;
}

>>>>>>> Stashed changes
