<div class="row startnow">
    <div class="col-lg-2 col-md-2 ">
    </div>
    <div class="col-lg-8 col-md-12 text-center">
        <div>
            <h1>
                OFERTA DE CURSOS
            </h1>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 ">
    </div>
</div>
<br>
<br>
<section class="course">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <app-card-img srcImg="/assets/img/imgcard1.jpeg" title="Pilates Matwork" text="47">
                </app-card-img>
            </div>
            <div class="col-lg-4 col-md-4">
                <app-card-img srcImg="/assets/img/imgcard2.jpeg" title="Reformer" text="$50">
                </app-card-img>
            </div>
            <div class="col-lg-4 col-md-4">
                <app-card-img srcImg="/assets/img/imgcard3.jpeg" title="Silla - Chair" text="$27">
                </app-card-img>
            </div>
        </div>
    </div>
</section>