<div class="container-fluid">

    <div class="row ">
        <div class="col-lg-12 col-md-12 about-heading ">

            <!-- <div class="about-heading"> -->
                <!-- <img src="/assets/img/imgcard1.jpeg" class="card-img-top" alt="img"> -->

            <!-- </div> -->

        </div>
    </div>


    <br>
    <br>

    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <h1>Nuestra filosofía</h1>
        </div>


        <div class="col-lg-8 col-md-8 ">
            <p>Hay estudios que indican que las personas sedentarias tienen una menor calidad de vida, lo que se traduce
                en estados anímicos como la depresión, mal desempeño laboral, además provoca problemas de salud que van
                desde dolores músculo-esqueléticos de larga duración hasta enfermedades cardiovasculares que pueden
                agravar el problema y afectar a las personas de por vida.

                En AT STUDIO, a través de una red de profesionales altamente capacitados en temas de salud, fitness y
                wellness ofrecemos una amplia oferta de cursos, talleres y certificaciones que ayudan a las personas a
                mantenerse en movimiento, estamos convencidos que a través del movimiento podemos mejorar la calidad de
                vida de las personas, fomentando una vida activa y sana que les permitirá llevar a cabo sus actividades
                diarias de una manera óptima para ser prósperas y felices.
            </p>
        </div>

        <div class="col-lg-4 col-md-4 ">
            <img src="/assets/img/imgcard1.jpeg" class="card-img-top" alt="img">
        </div>

    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-lg-5 col-md-5 ">
            <img src="/assets/img/imgcard1.jpeg" class="card-img-top" alt="img">
        </div>

        <div class="col-lg-7 col-md-7 ">
            <h1>Angeles Trabas Toro</h1>
            <p>


                Docente por vocación, nacida de Madrid, España, apasionada en transmitir todos los conocimientos sobre
                los cuidados, la importancia de la salud y el bienestar a través del movimiento y el ejercicio físico.

                Ha realizado Formación de Pilates Clásico en Madrid, posteriormente realizó formación en una reconocida
                marca mundial de Pilates, más tarde se convirtió en INSTRUCTOR TRAINER Internacional de dicha marca
                (Canadiense), Barre (Canadá), Core (Canadá), Redcord Active en (New York y Princeton). Formación en
                Pilates y Yoga, Yoga Shamanic, Halo®️ Entrenamiento Fascial, Anatomía, Biomecánica, Cadenas Musculares,
                Especialista en Poblaciones Especiales y Pilates Terapéutico formada en el área de Rehabilitación a
                través del movimiento.

                Formadora Avalada por la Secretaria de Educación Publica SEP CONOCER de México, esta acreditación tiene
                un aval curricular para todos nuestros alumnos.
                Convenio con la Universidad UNACH de México y el Colegio de Profesionalización donde impartimos
                diplomados con Aval Curricular por la Universidad que da valor Internacional.
                Somos la única escuela de Pilates con este valor curricular Internacional.

                Fundadora y Directora General de la escuela de formación AT STUDIO Pilates Academy.
            </p>
        </div>


    </div>

    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/Etzalli-Garcia.png" title="Etzalli García"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>
        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/Ferry.jpeg" title=" Fernando Moreno"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>

        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/Hector.png" title="Héctor Díaz"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/Etzalli-Garcia.png" title="Etzalli García"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>
        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/Ferry.jpeg" title=" Fernando Moreno"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>

        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/Hector.png" title="Héctor Díaz"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/Etzalli-Garcia.png" title="Etzalli García"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>
        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/Eva.png" title=" Fernando Moreno"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>

        <div class="col-lg-4 col-md-4 ">
            <app-card-img-circle srcImg="/assets/img/angeles.jpeg" title="Héctor Díaz"
                text=" Certificado en Pilates Contemporáneo, talleres de especialización. Se caracteriza por su calidad humana impartiendo sus clases con el desarrollo de un correcto funcionamiento del movimiento en ejecución y ejercicio correctivo.">
            </app-card-img-circle>

        </div>

    </div>

    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-5 col-md-12 ">
        </div>
        <div class="col-lg-7 col-md-12 ">



            <a href="https://www.facebook.com/ATStudioPT/" target="_blank">
                <!-- <span class="fa-brands fa-youtube">
                </span> -->
                <i class="fa-brands fa-youtube fa-2xl"></i>
            </a>

            <a href="https://www.facebook.com/ATStudioPT/" target="_blank">

                <i class="fa-brands fa-instagram fa-2xl"></i>
            </a>


            <a href="https://www.facebook.com/ATStudioPT/" target="_blank">
                <!-- <span class="fa-brands fa-youtube">
                </span> -->
                <i class="fa-brands fa-facebook fa-2xl"></i>
            </a>

        </div>
    </div>

    <br>
    <br> <br>

    <div class="row startnow">
        <div class="col-lg-2 col-md-2 ">
        </div>
        <div class="col-lg-8 col-md-12 ">

            <div>
                <h1>

                    Mantente en forma con nuestro programa
                    de entrenamiento

                </h1>

                <button class="btn btn-outline-success btn-lg"   type="submit">COMIENZA AHORA</button>
            </div>

        </div>
        <div class="col-lg-2 col-md-2 ">
        </div>
    </div>
    <br>
    <br>
</div>