<div class="row startnow">
    <div class="col-lg-2 col-md-2 ">
    </div>
    <div class="col-lg-8 col-md-12 text-center">
        <div>
            <h1>
                OFERTA DE CURSOS
            </h1>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 ">
    </div>
</div>
<br>
<br>
<section class="course">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <app-card-img srcImg="/assets/img/imgcard1.jpeg" title="Pilates Matwork" text="47">
                </app-card-img>
            </div>
            <div class="col-lg-4 col-md-4">
                <app-card-img srcImg="/assets/img/imgcard2.jpeg" title="Reformer" text="$50">
                </app-card-img>
            </div>
            <div class="col-lg-4 col-md-4">
                <app-card-img srcImg="/assets/img/imgcard3.jpeg" title="Silla - Chair" text="$27">
                </app-card-img>
            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <app-card-img srcImg="/assets/img/CursoInstructores.jpeg" title="Actualización para Instructores" 
                text="Es un programa de suscripción mensual que incluye nuevos videos de entrenamientos, coreografías, música y notas para que los instructores que ya tomaron una certificación presencial con nosotros, puedan mantenerse actualizados y ofrecer variaciones y adaptaciones en sus clases, con el fin de ofrecer entrenamientos integrales e innovadores a sus clientes.">
                </app-card-img>
            </div>
            <div class="col-lg-4 col-md-4">
                <app-card-img srcImg="/assets/img/CursosOnline.jpeg" title="Certificaciones Online"
                 text="Es un programa donde podrás comprar cada certificación por separado en el tema de tu interés, esta certificación tendrá videos, notas y/o manuales descargables y un examen de evaluación de conocimientos para poder obtener la certificación.">
                </app-card-img>
            </div>
           
        </div>


        
    </div>
</section>