<div class="row startnow">
    <div class="col-lg-2 col-md-2 ">
    </div>

    <div class="col-lg-2 col-md-2 ">
    </div>
</div>
<br>
<br>
<section class="course">
    <div class="container">


        <div class="row about-heading  ">
            <div class="col-lg-8 col-md-8 ">
                <h2 class="text-center">{{nameCourse}}</h2>
                <br>
                <br>
                <p>.En la Certificación de Pilates Matwork aprenderás sobre el desarrollo de las enseñanzas de Joseph H.
                    Pilates, veremos todos los ejercicios del repertorio nivel esencial, intermedio, avanzado,, en esta
                    formación te enseñaremos cómo aplicar los Fundamentos Biomecánicos de estabilidad central,
                    respiración y alineación en cada uno de los ejercicios.
                    Te brindaremos un desglose completo de cada ejercicio así como modificaciones con equipación ligera,
                    banda elástica, aro de resistencia, pelota pequeña y pelota grande, con el objetivo que tengas
                    variantes para poder brindar un mejor entrenamiento y servicio a cada uno de tus alumnos.
                    Metas de ejercicio, esencia muscular y secuencia del movimiento, también comprenderás las diferentes
                    modificaciones para aumentar o disminuir la intensidad del ejercicio. Te proporcionaremos diferentes
                    adaptaciones de los ejercicios para todo tipo de población y problemas posturales.
                    Podrás reconocer patrones de movimiento óptimos y menos que óptimos Una variedad de opciones de
                    programación para mantener motivados a los alumnos.

                </p>

            </div>
        </div>


    </div>
</section>


<br>
<br>
<br>


<section class="course-detail">


    <mat-slide-toggle>Toggle me!</mat-slide-toggle>

    <!-- <nav class="nav nav-pills nav-justified">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="#">Much longer nav link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav> -->

    <br>
    <br>
    <br>

    <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Lección 1 "> 
            <video autoplay loop muted playsinline controls>
                <source src="/assets/video/3.1.mp4" type="video/mp4">
            </video> </mat-tab>
        <mat-tab label="Lección 2"> 
            <video autoplay loop muted playsinline controls>
                <source src="/assets/video/3.2.mp4" type="video/mp4">
            </video> </mat-tab>
        <mat-tab label="Lección 3"> 
            <video autoplay loop muted playsinline controls>
                <source src="/assets/video/3.4.mp4" type="video/mp4">
            </video> </mat-tab>


            <mat-tab label="Lección 4"> 
                <video #media  id="singleVideo" preload="auto" crossorigin>
                    <source src="https://s3-eu-west-1.amazonaws.com/mybucket/Oct17/myvideo.mov" type="video/mp4">
                  </video>
            </mat-tab>

           
    </mat-tab-group>

</section>
<br>
<br>
<br>