.titleP{
    padding: 3%;
}
.divPrincipal{
    padding: 3%;
    font-family:catamaran;
}

.section-title{
    text-align: center;
}

.videoIntroduce {
    width: 100%;
    height: 300px;
    background-color: red;
}

.section-service{
    background-color: #924ddb;
    border-radius: 11%;
    height: 350px;
    padding: 2%;
}